/*bootcamp practice*/

body {
    background-color: #EEE9DA;
}

/*
hr {
    background-color: none;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 7%;
    height: 0;
}

h1 {
    color: #6096B4;
}

h3 {
    color: #6096B4;
}

p {
    color: #93BFCF;
}

table {
    color: #93BFCF;
}

ul {
    color: #93BFCF;
}
*/